<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul side-navigation class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="profile-element" uib-dropdown>
          <a uib-dropdown-toggle="" href>
            <span class="clear"><span><img src="/assets/images/patterns/triangular.png" class="img-circle"></span>
              <span class="block m-t-xs">
                <strong class="font-bold">{{main.userName}}</strong>
              </span>
              <span class="text-muted text-xs block">Пользователь<b class="caret"></b></span>
            </span>
          </a>
          <ul uib-dropdown-menu class="animated flipInX m-t-xs">
            <li><a href="/index/user/1">Профиль</a></li>
            <li><a href="">Выйти</a></li>
          </ul>
        </div>
        <div class="logo-element">LOGO</div>
      </li>
      <li>
        <a ui-sref="index.main"><i class="fa fa-home"></i> <span class="nav-label">Домой</span></a>
      </li>

      <li>
        <a><i class="fa fa-desktop"></i> <span class="nav-label">Основное</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><a href="/index/other/1">Новости</a></li>
          <li><a href="/index/other/2">Мои новости</a></li>
          <li><a href="/index/other/3">Блог спонсора</a></li>
          <li><a href="/index/other/4">Маркетинг</a></li>
        </ul>
      </li>
      <li>
        <a ui-sref="index.other"><i class="fa fa-wheelchair"></i> <span class="nav-label">Моя команда</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><a href="/index/other/5">Первая линия</a></li>
          <li><a href="/index/other/6">Приглашенные</a></li>
          <li><a href="/index/other/7">Моя страктура</a></li>
          <li><a href="/index/other/8">Статистика</a></li>
          <li><a href="/index/other/9">>Карьера</a></li>
        </ul>
      </li>
      <li>
        <a ui-sref="index.other"><i class="fa fa-dollar"></i> <span class="nav-label">Деньги</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><a href="/index/other/10">Нет их:)</a></li>
        </ul>
      </li>
      <li>
        <a href="/index/other/11"><i class="fa fa-btc"></i> <span class="nav-label">Инв.кейс</span></a>
      </li>
      <li>
        <a ui-sref="index.other"><i class="fa fa-suitcase"></i> <span class="nav-label">Инструменты</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><a href="/index/other/12">Разные инструменты </a></li>
        </ul>
      </li>
      <li>
        <a ui-sref="index.other"><i class="fa fa-wrench"></i> <span class="nav-label">Настройка</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><a href="/index/other/13">Какие-то настройки</a></li>
        </ul>
      </li>
      <li>
        <a uhref="/index/other/14"><i class="fa fa-bullhorn"></i> <span class="nav-label">Оставить отзыв</span></a>
      </li>
      <li>
        <a href="/index/other/15"><i class="fa fa-phone"></i> <span class="nav-label">Поддержка</span></a>
      </li>
    </ul>
  </div>
</nav>
